$bgColor: #fafafa;
$border: 1px solid #dbdbdb;

* {
  box-sizing: border-box;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

  &:focus {
    outline: none;
  }
}

body {
  background-color: $bgColor;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.img_small {
  width: 20px;
  height: 20px;
}

.img_medium {
  width: 32px;
  height: 32px;
}

.img_large {
  width: 48px;
  height: 48px;
}

.btn {
  margin: none;
  padding: none;
  background-color: transparent;
  border: none;
}

.user_profile_img {
  border: $border;
  border-radius: 50%;
}

.user_id {
  font-weight: 600;
}

.user_id, .likes_users {
  font-size: 14px;
  font-weight: 600;
}