@import url("https://use.fontawesome.com/releases/v5.15.2/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Lobster+Two:ital@1&display=swap");

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 350px;
  height: 390px;
  box-sizing: border-box;
  margin: 40px auto 0px;
  padding: 10px 0;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  font-family: "Lato", sans-serif;

  h1 {
    width: 200px;
    margin: 30px auto 10px;
    text-align: center;
    font-family: "Lobster Two", cursive;
    font-size: 45px;
    font-weight: bold;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    margin: 40px auto 0px;

    input {
      width: 268px;
      height: 40px;
      margin: 3px auto;
      padding: 3px 0px 3px 8px;
      color: #8e8e8e;
      background-color: #fafafae5;
      border: 1px solid #dbdbdb;
      border-radius: 2px;
      font-size: 13px;
    }

    button {
      width: 268px;
      height: 30px;
      margin: 10px auto;
      padding: 0;
      color: white;
      background-color: #c0dffd;
      border: none;
      border-radius: 3px;
      font-weight: bold;
    }

    .darkBtn {
      background-color: #0095f6;
    }

    .lightBtn {
      background-color: #c0dffd;
    }
  }

  .orContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    margin: 0px 0px 16px 0px;
    padding-top: 5px;

    .left,
    .right {
      width: 120px;
      height: 10px;
      border-top: 1px solid #cdcaca;
    }

    .left {
      margin: 9px 0 3px 45px;
    }

    .right {
      margin: 9px 45px 3px 0;
    }

    p {
      width: 50px;
      color: #8e8e8e;
      text-align: center;
      font-size: 13px;
      font-weight: bold;
    }
  }
  .loginFacebook {
    display: flex;
    margin: 0 auto;

    img {
      width: 20px;
      margin: 0px 6px;
    }

    p {
      margin-top: 5px;
      color: #385085;
      font-size: 14px;
      font-weight: bold;
    }
  }
  span {
    padding: 5px;
    margin: 15px auto;
    color: #124172;
    font-size: 12px;
  }
}

.noAccount {
  display: flex;
  justify-content: center;
  width: 350px;
  height: 65px;
  margin: 15px auto;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  text-align: center;
  font-family: "Lato", sans-serif;

  h5 {
    margin-top: 23px;
    font-size: 14px;
  }

  span {
    margin-top: 20px;
    margin-left: 3px;
    color: #0095f6;
    font-size: 14px;
    font-weight: bold;
  }
}

.getTheApp {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 0 auto;

  h3 {
    margin-top: 10px;
    font-size: 13px;
    font-family: "Lato", sans-serif;
    text-align: center;
  }

  .appImage {
    display: flex;
    justify-content: center;
    padding: 0px;

    img {
      width: 120px;
      margin: 0 7px;
    }
  }
}
