@import url("https://use.fontawesome.com/releases/v5.15.2/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

.main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items:flex-start;
    background: var(--color-white);
}


