@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://use.fontawesome.com/releases/v5.15.2/css/all.css");

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-space-between {
  display: flex;
  justify-content: space-between;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 54px; //원래 54px ,, 여기 이상
  background-color: #fafafa;

  .main-container {
    @extend %flex-space-between;
    width: 935px;

    main {
      width: 614px;
      height: 100%;
      padding-top: 30px;

      .main-feed {
        width: 100%;
        margin-bottom: 60px;
        background-color: #fff;
        border: 1px solid #d7d7d7;
        border-radius: 3px;

        header {
          @extend %flex-space-between;
          align-items: center;
          height: 60px;
          padding: 0 14px;

          .feed-profile {
            img {
              width: 32px;
              height: 32px;
              margin-right: 14px;
              border-radius: 50%;
            }
          }

          .feed-info {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            a {
              width: max-content;
              font-size: 14px;
              font-weight: 700;

              &:first-child {
                font-size: 14px;
                font-weight: 700;

                &:hover {
                  text-decoration: underline;
                }
              }

              &:nth-child(2) {
                margin-top: 3px;
                font-size: 12px;
                font-weight: 400;
              }
            }
          }

          a {
            i {
              color: #5b5b5b;
              font-size: 15px;
            }
          }
        }

        .feed-image {
          width: 100%;
        }

        .feed-comment {
          padding: 5px 12px;

          .feed-icons {
            @extend %flex-space-between;
            margin-bottom: 9px;
            font-size: 24px;

            .feed-icons-left {
              @extend %flex-space-between;
              width: 100px;
            }

            i {
              cursor: pointer;
            }
          }

          .feed-likes {
            display: inline-block;
            margin-bottom: 5px;
            font-size: 14px;
            font-weight: 500;
          }
        }

        //여기
      }
    }

    aside {
      width: 293px;
      height: 100%;
      background-color: #fff;
      position: sticky;
      top: 83px;
      margin-top: 30px;
      padding-top: 27px;
      background-color: inherit;

      .my-profile {
        @extend %flex-space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 25px;

        img {
          width: 53px;
          border-radius: 50%;
          margin-right: 15px;
        }

        .my-profile-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex-grow: 1;

          span {
            font-size: 14px;

            &:first-child {
              margin-bottom: 3px;
              color: #262626;
              font-weight: 700;
            }

            &:last-child {
              color: #8e8e8e;
              font-weight: 600;
            }
          }
        }

        span {
          color: #0095f6;
          font-size: 12px;
          font-weight: 600;
        }
      }

      .recommend-profile {
        div {
          @extend %flex-space-between;
          margin-bottom: 13px;

          h4 {
            color: #8e8e8e;
            font-size: 14px;
          }

          span {
            color: #262626;
            font-size: 12px;
            font-weight: 700;
          }
        }

        ul {
          li {
            @extend %flex-space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 10px;

            img {
              width: 33px;
              margin-right: 15px;
              border-radius: 50%;
            }

            div {
              display: flex;
              flex-direction: column;
              justify-content: center;
              flex-grow: 1;

              span {
                font-size: 14px;

                &:first-child {
                  margin-bottom: 3px;
                  color: #262626;
                  font-weight: 700;
                }

                &:last-child {
                  color: #8e8e8e;
                  font-size: 12px;
                  font-weight: 600;
                }
              }
            }

            span {
              color: #0095f6;
              font-size: 12px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
